extends layout

block content
  header.header-home.header.header-content__home
    h1.title About
    .main-container
      p#about Wino is a wine cellar management app that lets you track your collection and see its values as well as keep tasting notes and food pairing suggestions.
      