extends layout

block content
  header.header-home.header.header-content__home
    #collection-sm
    //- Code goes here
    #collection-lg
      .collection-container-lg
        .left-panel
          h2 Wine Collection
          .collection-main

        .right-panel
          h2 Wine Search
          p Data provided by 
            a(id="snooth-link" href="http://www.snooth.com" target="_blank") Snooth
          form#search-form
            input.form-control(type="search" id="search" name="search" placeholder="Search millions of wines.")
          .search-dropdown
            ul.search-dropdown-list
              li.search-dropdown-list__image
              li.search-dropdown-list__name
              li.search-dropdown-list__varietal
              li.search-dropdown-list__vintage
              li.search-dropdown-list__type
              li.search-dropdown-list__price
              li#imgURL.search-dropdown-list__imgURL
              button#add-to-collection.btn Add To Collection