extends layout

block content
  header.header-home.header.header-content__home
    #collection-sm
    //- Code goes here
    #collection-lg
      .collection-container-lg
        .left-panel
          h2 Wine Collection
          .collection-main

        .right-panel
          h2 Wine Search
          p Data provided by 
            a(id="snooth-link" href="http://www.snooth.com" target="_blank") Snooth
          form#search-form
            input.form-control(type="search" id="search" name="search" placeholder="Search millions of wines.")
          .search-dropdown
            ul.search-dropdown-list
              li
                span.labels Name: 
                #name.list-item
                button.dropdown-edit Edit
              li
                span.labels Varietal: 
                #varietal.list-item
                button.dropdown-edit Edit
              li
                span.labels Vintage: 
                #vintage.list-item
                button.dropdown-edit Edit
              li
                span.labels Type: 
                #type.list-item
                button.dropdown-edit Edit
              li
                span.labels Price: 
                #price.list-item
                button.dropdown-edit Edit
              li
                span.labels Choose Color:
              li.search-dropdown-list__image
                div.image-selection
                  object(type="image/svg+xml" data="../images/red.svg" class="wine-glass")
                  input(type="radio" name="color" value="red")
                div.image-selection
                  object(type="image/svg+xml" data="../images/rose.svg" class="wine-glass")
                  input(type="radio" name="color" value="rose")
                div.image-selection
                  object(type="image/svg+xml" data="../images/white.svg" class="wine-glass")
                  input(type="radio" name="color" value="white")
              li#code.search-dropdown-list__code
              button#add-to-collection Add To Collection
        .modal