extends layout

block content
  header.header-home.header.header-content__home
    h1#main-title-sm Track Your Wine Collection.
    h1#main-title-lg Track Your Wine Collection.
    .main-container
      h2 It's free! Check it out now.
      a(href="collection")
        btn#guest-btn Demo
      p.footer Copyright &copy; 
        span.year
        |  Matthew Conrad