extends layout

block content
  header.header-home.header.header-content__home
    #profile-sm
    //- Code goes here
    #profile-lg
      .profile-container-lg
        h2 Profile
      .profile-container-main
        .profile-left-panel
          img#avatar(src="images/user.svg", alt="Avatar")
        .profile-right-panel
          p
            span Name
            | : Matthew Conrad
          p
            span Favorite Wine
            | : Pinot Noir
          p
            span About Me: 
          textarea#about-me(name="about-me", cols="30", rows="10", placeholder="Write something about yourself.")