extends layout

block content
  header.header-home.header.header-content__home
    .main-container
      h1.title About
      p#about Wine House is a free wine cellar management app that lets you track information about your collection such as notes on taste and food pairing suggestions.