extends layout

block content
  header.header.header-content__home
    #collection-sm
    //- Code goes here
    #collection-lg
      .collection-container-lg
        .left-panel
          h2 Wine Collection
          .collection-main

        .right-panel
          div.wine-search
            h2 Wine Information
            //- p Data provided by 
            //-   a(id="snooth-link" href="http://www.snooth.com" target="_blank") Snooth
            form#search-form
              input.form-control(type="search" id="search" name="search")
            .search-dropdown
              ul.search-dropdown-list
                li
                  span.labels Name: 
                  #name.list-item
                  button.dropdown-edit Edit
                li
                  span.labels Varietal: 
                  #varietal.list-item
                  button.dropdown-edit Edit
                li
                  span.labels Vintage: 
                  #vintage.list-item
                  button.dropdown-edit Edit
                li
                  span.labels Type: 
                  #type.list-item
                  button.dropdown-edit Edit
                li
                  span.labels Price: 
                  #price.list-item
                  button.dropdown-edit Edit
                li
                  span.labels Choose Color:
                li.search-dropdown-list__image
                  div.image-selection
                    img(src="images/red.svg" class="wine-glass")
                    input(type="radio" name="color" value="red")
                  div.image-selection
                    img(src="images/rose.svg" class="wine-glass")
                    input(type="radio" name="color" value="rose")
                  div.image-selection
                    img(src="images/white.svg" class="wine-glass")
                    input(type="radio" name="color" value="white")
                li#code.search-dropdown-list__code
                button#add-to-collection Add To Collection
          div.logout
            a(href="/logout") Home
        .modal