extends layout

block content
  header.header-home.header.header-content__home
    h1#main-title-sm Track your wine collection.
    h1#main-title-lg Track your wine collection.
    .main-container
      h2 Check it out.
      a(href="collection")
        btn#guest-btn Demo
      p.footer Copyright &copy; 
        span.year
        |  Matthew Conrad