//- Nav Tablet/Desktop
nav#navbar-lg
  ul.container
    img#wino-logo(src="../images/wino.svg" alt="Wino Logo")
    .flex-grow
    li.item
      a(href="/") Home
    li.item
      a(href="about") About
    li.item
      a(href="register") Sign Up
    li.item
      a(href="login") Sign In