extends layout

block content
  header.header-register.header.header-content__home
    .main-container
      h1.title-raised Sign Up
      h2 Save your collection.
      //- Registration Form
      form(method="POST" action="/register")
        .form-group
          label(for="name") Name
          br
          input#name.form-control(type="text", placeholder="Jane Doe" name="name")
        .form-group
          label(for="email") Email
          br
          input#email.form-control(type="email", placeholder="janedoe@example.com" name="email")
        .form-group
          label(for="pw") Password
          br
          input#pw.form-control(type="password" name="password")
        .form-group
          label(for="pw2") Confirm Password
          br
          input#pw2.form-control(type="password" name="confirmPassword")
          br
        .form-group
          button#signup-btn(type="submit") Create My Free Account