/* Base Styles */

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),
  url("../images/main.jpg") no-repeat center/cover;
  height: 100vh;
  align-items: center;
}

.header {
  width: auto;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-home {
  height: 100vh;
}

/* Typography */

h1 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 2.8em;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  margin-top: 240px;
}

h2, p, label, input, button, textarea,
.search-dropdown, .modal-content,
.collection-wine span {
  font-family: "Fira Sans", sans-serif;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  margin: 40px 0;
}

p {
  font-size: 1.3em;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  margin: 40px 0;
}

#main-title-sm {
  display: none;
}

.title, .title-raised {
  margin-top: 0;
}

#main-title-lg {
  display: none;
}

/* Containers */

.main-container {
  margin: 0;
}

/* Images */

#wino-logo-sm {
  width: 140px;
  height: auto;
  float: left;
  margin: 15px;
}

/* Nav */

#navbar-sm {
  display: none;
  background-color: #fff;
  width: 100%;
  height: 60px;
}

.mobile-menu__dropdown {
  display: none;
  background-color: #fff;
  width: 100%;
  height: 295px;
  text-align: center;
}

.mobile-menu__dropdown a {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1.45em;
  color: #000;
  text-transform: uppercase;
  margin: 0 auto;
}

.mobile-menu__dropdown li:first-child {
  padding-top: 40px;
}

.mobile-menu__dropdown li:last-child {
  padding-bottom: 0;
}

.mobile-menu__dropdown li {
  text-align: center;

  padding: 15px;
}

.dropdown-open {
  height: 100vh;
  margin-top: 0;
}

#navbar-lg {
  display: none;
}

/* Modules */

#hamburger {
  cursor: auto;
  outline: 0;
  float: right;
  padding: 0;
  margin: 18px;
}

#guest-btn {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  height: auto;
  color: #fff;
  background-color: #1e90ff;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px;
  margin: 20px 0 100px;
}

/* Registration Form */

.form-group {
  max-width: 228px;
  margin: 0 auto;
}

label, input, textarea {
  font-size: 1.125em;
  font-weight: 400;
  float: left;
}

label {
  color: #fff;
  padding: 20px 0 5px;
  text-shadow: 2px 2px 4px #000;
}

input {
  width: 228px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#signup-btn,
#login-btn,
#add-to-collection,
#save-note {
  font-size: 1.125em;
  font-weight: 400;
  color: #fff;
  background-color: #1e90ff;
  border: none;
  outline: none;
  width: 100%;
  float: left;
  padding: 10px;
}

#signup-btn {
  margin: 20px 0 100px;
}

#login-btn {
  margin: 20px 0;
}

/* Collection */

#collection-sm {
  display: block;
}

#collection-lg {
  display: none;
}

.options {
  text-align: right;
  width: 200px;
}

.wine-glass {
  width: auto;
  height: 100px;
}

input[type="radio"] {
  width: 15px;
  margin-top: 20px;
}

.image-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wine-img {
  width: auto;
  height: 40px;
}

.dropdown-edit, .dropdown-save {
  color: #1e90ff;
  background-color: #fff;
  border: none;
  padding: 0;
  margin-left: 10px;
}

.dropdown-edit:hover,
.dropdown-save:hover {
  cursor: pointer;
  color: #0f487f;
}

.list-item-edit {
  width: 228px;
  height: 40px;
  border: 1px solid #1e90ff;
  border-radius: 5px;
  padding: 10px;
}

.collection-name, .collection-varietal {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collection-name {
  width: 60%;
}

.collection-varietal {
  width: 40%;
}

.wine-name, .wine-type {
  font-size: 1.2em;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.wine-name, .wine-varietal {
  font-size: 1.2em;
}

/* Breakpoints */

@media (min-width: 824px) {

  /* Base Styles */

  .main-container {
    display: block;
  }

  .header-home, #register-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 360px);
  }

  /* Nav */

  #navbar-sm {
    display: none;
  }

  .mobile-menu__dropdown {
    display: none;
  }

  #navbar-lg {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Typography */

  h1 {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 3.2em;
  }

  h2 {
    font-size: 2em;
  }

  .main-container h2:last-child {
    margin-top: 0;
  }

  .item a, h4, .logout a {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    padding: 17.5px 15px;
  }

  .item a, .logout a {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
  }

  h4 {
    color: #fff;
  }

  .logout {
    margin-top: 50px;
  }

  a:hover {
    color: #1e90ff;
    transition: 0.3s;
  }

  #main-title-sm {
    display: none;
  }
  
  #main-title-lg {
    font-size: 5rem;
    display: block;
    margin: 0 auto;
  }

  .title-raised {
    display: block;
    margin-top: 0;
  }

  #about {
    max-width: 500px;
    margin: 0 auto;
  }

  /* Nav Bar */

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 160px;
  }

  .flex-grow {
    flex-grow: 1;
  }

  /* Images */

  #wino-logo {
    width: 120px;
    height: auto;
  }

  /* Modules */

  #guest-btn:hover,
  #register-btn:hover,
  #signup-btn:hover,
  #login-btn:hover,
  #add-to-collection:hover,
  #save-btn:hover,
  #edit-btn:hover {
    cursor: pointer;
    background-color: #0f487f;
    transition: 0.4s;
  }

  /* Registration Form */

  #signup-btn, #login-btn {
    margin-bottom: 0;
  }

  /* Collection */

  #collection-sm {
    display: none;
  }

  #collection-lg {
    display: block;
  }

  .collection-container-lg {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "sidebar main";
  }

  .left-panel {
    background: #fff url("../images/collection.jpg") no-repeat center/cover;
    border: 10px solid #000;
    height: calc(100vh);
    overflow: auto;
  }
  
  .left-panel h2, .right-panel h2 {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
  }

  .right-panel {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
      "main sidebar";
  }

  .right-panel h2 {
    padding-top: 10px;
  }

  .right-panel p {
    margin-bottom: 0;
  }

  .collection-main {
    border-top: 10px solid #000;
  }

  .collection-wine,
  .collection-wine__left,
  .collection-wine__right {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: flex-start;
    align-items: center;
  }

  .collection-wine {
    background-color: #fff;
    border-bottom: solid 2px #000;
    width: auto;
    height: 60px;
    margin: 0 auto;
  }

  #code {
    display: none;
  }

  .wine-note {
    width: 29px;
    height: auto;
    margin: 0 auto;
  }

  .wine-delete {
    color: #c0c0c0;
    cursor: pointer;
    width: 29px;
    height: auto;
    margin: 0 10px;
  }

  .wine-delete:hover {
    color: #000;
  }

  #search-form {
    width: 300px;
    margin: 40px auto 0;
  }

  #search-form input {
    margin-top: 20px;
    float: none;
  }

  #snooth-link {
    color: #fff;
  }

  #snooth-link:hover {
    color: #1e90ff;
    background: none;
  }

  #search-form {
    margin: 0 auto;
  }

  #search-form p {
    margin-top: 20px;
  }

  .search-dropdown {
    display: none;
    width: 500px;
    height: auto;
    font-size: 1.125em;
    font-weight: 400;
    color: #000;
    text-align: left;
    background-color: #fff;
    margin: 0 auto;
  }

  .is-active {
    display: block;
  }

  .search-dropdown-list li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .search-dropdown-list li:first-child {
    padding-top: 20px;
  }

  .search-dropdown-list li:nth-child(6){
    padding-bottom: 20px;
  }

  .labels {
    font-weight: 700;
    padding-right: 5px;
  }

  #profile-lg h2 {
    text-align: center;
    padding-top: 50px;
    margin: 0;
  }

  .profile-container-main {
    margin: 80px auto;
  }

  #avatar {
    width: 300px;
    height: auto;
  }

  #about-me {
    resize: vertical;
    margin-top: 0;
  }

  .wine-note {
    cursor: pointer;
  }

  /*=============
  Modal Window
  =============*/

  .close {
    font-size: 2.4em;
    color: #c0c0c0;
    float: right;
    cursor: pointer;
    margin-left: -27.422px;
  }

  .close:hover {
    color: #000;
  }

  .modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modal-content {
    display: block;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    border: solid 1px #d3d3d3;
    border-radius: 10px;
    font-size: 1.125em;
    list-style: none;
    padding: 0 20px;
    margin: 0 auto;
  }

  .modal-photo {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }

  .modal-label {
    font-weight: 700;
  }

  .modal-content li {
    padding: 10px 0;
    margin: 0;
  }

  #notes {
    font-size: 1em;
    width: 100%;
    height: 170px;
    border: 1px solid #808080;
    padding: 0;
    margin: 10px auto 10px;
  }

  #save-btn, #edit-btn {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    text-align: center;
    width: 80px;
    height: auto;
    color: #fff;
    background-color: #1e90ff;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 15px;
    margin: 0 auto 10px;
  }

  .notes-content {
    display: inline-block;
    color: #000;
    width: 356px;
    word-wrap: break-word;
    text-align: left;
    margin: 10px auto 10px;
  }

  .footer {
    right: 0; bottom: 0; left: 0;
    position: absolute;
    width: auto;
    height: 23px;
    margin-bottom: 40px;
  }
}